@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --blue: rgba(43, 143, 235, 1);
  --Darkerblue: rgb(38, 128, 212);
  --gray: rgb(233, 233, 233);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(190, 213, 235, 1);
  font-family: "Poppins", sans-serif;
}

.gray-container {
  background-color: var(--gray);
  height: fit-content;
  border-radius: 14px;
  margin: 7.5%;
  max-width: 450px;
}

.container {
  height: fit-content;
  max-width: 300px;
  padding: 15px;
}

.container-container {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 14px;
  width: 85vw;
  max-width: 450px;
}

h1 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
}

h2 {
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0;
}

h3 {
  text-align: center;
  font-size: 1.7rem;
  margin: 0;
}

label {
  font-weight: 300;
}

.field {
  background-color: var(--gray);
  height: 45px;
  border-radius: 10px;
  border-style: hidden;
  transition: all 0.3s ease;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
}

.field:hover {
  background-color: rgb(221, 221, 221);
}

input:focus {
  outline: none;
}

.inner-label {
  font-size: 0.7rem;
  color: #919191;
  position: absolute;
  transform: translate(0px, -12px);
  height: 20px;
}

input {
  background: none;
  background-color: none;
  border-style: hidden;
  padding: 0;
  position: relative;
  top: 5px;
}

.wrapper {
  display: inline-flex;
  background: var(--gray);
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
}

.wrapper .option {
  font-size: 16px;
  font-weight: 300;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="radio"] {
  display: none;
}

#male:checked:checked ~ .male,
#female:checked:checked ~ .female {
  background: var(--blue);
}

.wrapper .option span {
  color: #000000;
}
#male:checked:checked ~ .male span,
#female:checked:checked ~ .female span {
  color: #fff;
}

.age-length-container {
  width: 100%;
}

.age-length-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.label-input-container {
  min-width: 0;
  max-width: 48%;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.field {
  margin-bottom: 15px;
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  position: relative;
  top: 35px;
  background-color: var(--blue);
  border-style: hidden;
  font-family: inherit;
  height: 40px;
  padding: 0px 38px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--Darkerblue);
}

.result {
  margin: 25px;
  margin-top: 40px;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: 0.8rem;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.select {
  grid-template-areas: "select";
  align-items: center;
  padding: 0 0.5em;
}

.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: gray;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

select,
.select:after {
  grid-area: select;
}

#error {
  position: absolute;
  text-align: center;
  transform: translate(0px, -16px);
  font-weight: 300;
  font-size: 0.9rem;
  color: rgb(255, 64, 64);
}
